{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% block content %}

<p>Time interval below 30 days to get better performance</p>
{{ render_form(form) }}
<br>
{% if sim_start %}
<p><b>
    <font size=4>Similar trend found!<br>
    From {{sim_start}} to {{sim_end}}</font>
</b></p>
{% endif %}
{% if url %}
<img src="{{url_for('static',filename='images/simtrend.png',_t=dynamic)}}" alt="plot pic" width="800" height="1300">
{% endif %}

{% endblock %}