</html>
{% extends "base.html" %}
{% block content %}
<body>

    <h1>Stock Data</h1>
    <a href="/">Back to home page</a><br>
    <form action=/stockdata method="POST">
        x <input name="x" type="text" value={{x}}><br>
        y <input name="y" type="text" value={{y}}><br>
        <p><button type="submit">Submit</button></p>
        <p>result={{result}}</p>
        {% if url %}
        <img src="{{url_for('static',filename='images/predict.png',_t=dynamic)}}" alt="plot pic" width="600" height="400">
		{% endif %}
    </form>

</body>
{% endblock %}